.shop-container{
    margin: 0 20px;
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.products-container{
    margin: 0 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}
.cart-container{
    background-color: crimson;
    
}

@media (max-width: 688px) {
    .products-container{
        grid-template-columns: 1fr;
    }
}